<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="PluginsAspxSample.SiteMaster" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title></title>
    
	<asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</head>
<body>
	<asp:ContentPlaceHolder ID="MainContent" runat="server"/>
</body>
</html>
